html {
    height: 100%
}

.displayBase {
    background-color: white;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    font-family: 'Cinzel', serif;
    color: #f6f6f6;
}

h1 {
    font-size: 40px;
    padding: 30px;
    
}

header {
    width: 100%;
    color: #f6f6f6;
    background-color: #353535;
    border-bottom: 8px solid rgb(151, 0, 226);
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-dropdowns {
    display: flex;
    justify-content: space-around;

    background-color: #303030;
    border: solid rgb(151, 0, 226);
    border-width: 8px 8px 0;
    width: 800px;
    margin-top: 30px;
}

.flex-row {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 5px 20px;
}

.select-title {
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px cyan solid;
    border-width: 0 0 2px 0;
    align-self: center;
    padding: 4px;
    flex: 1;
}

input:focus {
    outline: none;
}

input.wallet-address {
    width: 500px;
}

.chart {
    width: 980px;
    margin: 0;
    padding: 5px 0;
    background-color: #303030;
    border: 8px solid rgb(151, 0, 226);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purchaseWindow{
    background-color: #303030;
    border: 8px solid rgb(151, 0, 226);
    padding: 20px;
    margin: 30px;
    width: 700px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.exchange {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.custom-select select {
    display: none;
}

.custom-select, input {
    color:white;
    font-size: 20px;
    background-color: #303030;
    width: 150px;
    height: 30px;
    border: 2px cyan solid;
    border-width: 0 0 2px;
    margin: 10px 0;
    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-select {
    cursor: pointer;
    position: relative;
}

.option-menu {
    position: absolute;
    top: calc(100% + 4px);
    width: 100%;
    cursor: default;

    background-color: rgba(255, 255, 255, .8);
    color: #303030;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}
.option-menu div {
    text-align: center;
    padding: 4px;
}
.hidden {
    display: none;
}
.custom-option {
    cursor: pointer;
}
.custom-option:hover {
    background-color: rgba(0, 0, 0, .1);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, .5);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, .5);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, .5);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, .5);
}

#defaultCanvas0{
    position: fixed;
    z-index: -100000;
    
}

.submit {
    border: 2px outset rgb(151, 0, 226);
    background-color: rgba(151, 0, 226, .7);
    color: #f6f6f6;
    width: 100px;
    margin: 10px 20px;
    cursor: pointer;
}
.submit:active {
    background-color: rgba(151, 0, 226, .5);
    border-style: inset;
}
.submit:focus {
    outline: none;
}

footer {
    background-color: rgb(151, 0, 226);
    border-top: 15px solid #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}
