html {
    height: 100%
}

.displayBase {
    background-color: white;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Cinzel', serif;
    color: #303030;

    
}

h1 {
    font-size: 40px;
    padding: 30px;
    
}

header {
    width: 100%;
    background-color: rgb(151, 0, 226);;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart {
    width: 980px;
    margin: 30px;
    padding: 5px 0;
    background-color: #303030;
    border: 15px solid rgb(98, 66, 114);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#purchaseWindow{
    background-color: #303030;
    border: 15px solid rgb(151, 0, 226);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exchangeVals {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    margin: 20px;
}

.dropdown, .title {
    background-color: rgb(151, 0, 226);;
    border: 2px solid;
    border-color: cyan;
    border-radius: 25px 0px 0px 25px;
    margin: 0px;
    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown:focus {
    outline: none;
}

input{
    border-radius: 0px 25px 25px 0px;
    border-color: cyan;
    padding: 4px;
}

#defaultCanvas0{
    position: fixed;
    z-index: -100000;
    
}
